<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath*:mail.xml"/>
    <import resource="classpath*:data.xml"/>

    <bean id="freemarkerConfiguration" class="freemarker.template.Configuration">
        <property name="directoryForTemplateLoading" value="classpath:"/>
    </bean>

    <bean id="defaultLocale" class="java.util.Locale">
        <constructor-arg index="0" value="en"/>
        <constructor-arg index="1" value="EN"/>
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="lang"/>
        <property name="defaultLocale" ref="defaultLocale"/>
    </bean>
</beans>